<main>
  <h3>スケジュール一覧</h3>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>開始日時</th>
        <th>終了日時</th>
        <th>終日</th>
        <th>スケジュール更新日時</th>
        <th>確認</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>

    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.id %></td>
          <td><%= plan.title %></td>
          <td><%= plan.start_date %></td>
          <td><%= plan.end_date %></td>
          <td><%= plan.all_day %></td>
          <td><%= plan.updated_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "確認", plan %></td>
          <td><%= link_to "編集", [:edit, plan] %></td>
          <td><%= link_to "削除", plan, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>