<main>
 <h3>スケジュール確認</h3>
 
      <table>
        <tr>
        <th>タイトル</th>
        <td><%= @plan.title %></td>
        </tr>
 
        <tr>
        <th>開始日時</th>
        <td><%= @plan.start_date %></td>
        </tr>
 
        <tr>
        <th>終了日時</th>
        <td><%= @plan.end_date %></td>
        </tr>
        <tr>
        <th>終日</th>
        <td><%= @plan.all_day %></td>
        </tr>
        <tr>
          <th>スケジュールメモ</th>
          <td><%= @plan.memo %></td>
        </tr>
      </table>
 
      <div>
        <ul>
        <li><%= link_to "スケジュール一覧に戻る",:plans %></li>
        <li><%= link_to "スケジュールを編集する", [:edit, @plan] %></li>
        <li><%= link_to "スケジュールを削除する", @plan, method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
        </ul>
      </div>
</main>   