<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="Header">
        <h1>スケジュール管理アプリ</h1>
        <div><%= link_to "スケジュール登録", :new_plan,class:"NewPlan" %></div>
      </div>   
    </header>
      <%= yield %>
    <footer>
      <div class="Footer">
        <h1>現在の時刻 : <%=Time.new.strftime("%Y/%m/%d/%T")%></h1>
        <h1 id="plan_number">現在のスケジュール数 : <%= Plan.count%></h1>
      </div>
    </footer>
  </body>
</html>
